#background {
    -fx-background-color: radial-gradient(focus-distance 0% , center 50% 50% , radius 55% , #2d1086, #2e0c60);
}

#sale {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9f21d3 0%, #9119c2 100%),
            #8617b6,
            #8d1abd,
            radial-gradient(center 50% 50%, radius 100%, #d52ee7, #d52ee7);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#sale:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #9f21d3 0%, #9119c2 100%),
            #8617b6,
            #8d1abd,
            radial-gradient(center 50% 50%, radius 100%, #d52ee7, #d52ee7);
}

#sale:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

#sale2 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #239ab7 0%, #74b3f6 100%),
            #3c79bd,
            #4796e7,
            radial-gradient(center 50% 50%, radius 100%, #50d0ff, #74d0f8);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#sale2:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #239ab7 0%, #74b3f6 100%),
            #3c79bd,
            #4796e7,
            radial-gradient(center 50% 50%, radius 100%, #50d0ff, #74d0f8);
}

#sale2:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}

#sale3 {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0,0 0 6 0,0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #cecc19 0%, #bdba1f 100%),
            #afad12,
            #c5c316,
            radial-gradient(center 50% 50%, radius 100%, #fdeb10, #fff47a);
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.75),4,0,0,1);
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

#sale3:hover {

    -fx-background-color:
            linear-gradient(from 0% 93% to 0% 100%, #cecc19 0%, #bdba1f 100%),
            #afad12,
            #c5c316,
            radial-gradient(center 50% 50%, radius 100%, #fdeb10, #fff47a);
}

#sale3:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0,2 0 4 0,2 0 5 0;

}