#button1{
    -fx-background-image: url("images/en.png");
}
#button1:hover{
    --border-color: white;
}

#button2{
    -fx-background-image: url("images/vn.png");
}

#button2:hover{
    --border-color: white;
}