@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('Poppins-Medium.ttf');
}

.text {
    -fx-font-family: "Poppins";
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #347486;
}

#background {
    -fx-background-image: url('bgr.jpg');
    -fx-background-size: 120% 120%;
    -fx-background-position: center;
}

#button1 {
    -fx-background-image: url('dictionary/button1.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#button2 {
    -fx-background-image: url('dictionary/button2.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#button3 {
    -fx-background-image: url('dictionary/button3.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#button4 {
    -fx-background-image: url('dictionary/button4.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#button5 {
    -fx-background-image: url('dictionary/button5.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}

#button6 {
    -fx-background-image: url('dictionary/button6.png');
    -fx-background-size: 100% 100%;
    -fx-background-position: center;
    -fx-background-color: transparent;
}
