@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url('Poppins-Medium.ttf');
}

.text {
    -fx-font-family: "Poppins";
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-text-fill: #347486;
}

#background {
    -fx-background-image: url('bgr.jpg');
    -fx-background-size: 110% 110%;
    -fx-background-position: center;
}

.button {
    -fx-background-size: 70% 70%;
    -fx-background-position: top;
    -fx-background-color: #eadcd6;
    -fx-background-repeat: no-repeat;
}

.button:hover {
    -fx-background-size: 75% 75%;
    -fx-text-fill: #440202;
}

#myVocabulary {
    -fx-background-size: 65% 65%;
    -fx-background-image: url('dictionary/myVocabulary.png');
    -fx-background-position: center 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
    -fx-border-radius: 10px;
}

#myVocabulary:hover {
    -fx-background-size: 70% 70%;
}

#video {
    -fx-background-image: url('dictionary/video.png');
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
    -fx-border-radius: 10px;
}

#grammar {
    -fx-background-image: url('dictionary/grammar.png');
    -fx-background-position: center 5px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
    -fx-border-radius: 10px;
}

#translateImage {
    -fx-background-size: 65% 65%;
    -fx-background-image: url('dictionary/translateImage.png');
    -fx-background-position: center 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
    -fx-border-radius: 10px;
}

#translateImage:hover {
    -fx-background-size: 70% 70%;
}

#translate {
    -fx-background-image: url('dictionary/translate.png');
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
    -fx-border-radius: 10px;
}

#history {
    -fx-background-size: 65% 65%;
    -fx-background-image: url('dictionary/history.png');
    -fx-background-position: center 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
    -fx-border-radius: 10px;
}

#history:hover {
    -fx-background-size: 70% 70%;
}

#icon-back-home {
    -fx-background-image: url('back-icon.png');
    -fx-background-color: transparent;
    -fx-background-position: center;
}

#icon-back-home:hover {
    -fx-background-image: url('back-icon-hover.png');
}

#search-button {
    -fx-background-image: url('dictionary/search.png');
    -fx-background-color: #347486;
    -fx-background-size: 50% 90%;
    -fx-border-radius: 0px 10px 10px 0px;
    -fx-border-width: 2px;
    -fx-border-color: #347486;
}


