@font-face {
    font-family: 'Poppins';
    src: url('Poppins-Medium.ttf');
}

.text {
    -fx-font-family: "Poppins";
    -fx-text-alignment: center;
    -fx-font-size: 15px;
    -fx-font-weight: 1000;
    -fx-text-fill: #347486;
}


.button {
    -fx-background-radius: 5px;
    -fx-background-color: #a4d5f1;
    -fx-text-fill: #347486;
}

#background {
    -fx-background-image: url('bgr.jpg');
    -fx-background-size: 100% 100%;
}

#title {
    -fx-background-image: url('title.png');
    -fx-background-size: 100% 100%;
}

#des {
    -fx-background-image: url('des.gif');
    -fx-background-size: 100% 100%;
}